@import '../../../styles/index.scss';

.assideMenu {
  background-color: $darkBlue;
  padding-top: 10%;
  min-width: 240px;
  max-width: 240px;
  min-height: 60vh;

  .navContainer {
    padding: 0 1.23rem;
  }

  a {
    margin: 1rem 0;
    color: #fff;
    font-family: $fontNunito;
    font-size: $font_18px;
  }
}
