@import '../../../../styles/index.scss';

.btn {
  font-size: $font_16px;
  font-family: $fontNunito;
  color: $darkBlue;
  width: 130px;
  border: 2px solid $darkBlue;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;

  &_checked_icon {
    position: absolute;
    right: -23px;
    top: 7px;
    path {
      transition: 0.3s;
      fill: rgba($color: #000000, $alpha: 0.5);
    }
  }

  &:hover {
    color: $white;
    background-color: lighten($color: $darkBlue, $amount: 10);
  }

  &_checked {
    border: 2px solid rgba($color: #000000, $alpha: 0.5);
    color: rgba($color: #000000, $alpha: 0.5);
    position: relative;
    &:hover {
      path {
        fill: $white;
      }
      background-color: rgba($color: #000000, $alpha: 0.5);
      border: 2px solid rgba($color: #000000, $alpha: 0.7);
    }
  }
}
