@import '../../styles/index.scss';

.pages {
  @include flex(row, center, center);

  .page {
    @include flex(row, center, center);
    margin: 0.2rem;
    width: 2rem;
    height: 2rem;
    font-family: $fontNunito;
    font-size: 18px;
    border: 1px solid $lightBlue_2;
    border-radius: 5px;
    background-color: $lightBlue_3;
    cursor: pointer;

    &__current {
      background-color: $darkBlue;
      border: 1px solid $darkBlue;
      color: $white;
    }
  }
}

.arrow {
  margin: 0 30px;
  @include flex(row, center, center);
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: $lightBlue_3;
  border: 1px solid $lightBlue_2;
  cursor: pointer;

  &__prev {
    transform: scale(-1, 1);
  }
}

.arrowUnable {
  svg path {
    fill: $lightBlue_2;
  }
}

.hiddenElement {
  display: none;
}
