@import '../../../../styles/index.scss';

.formTitle {
  font-family: $fontOpenSans;
  font-weight: $regular;
  font-size: 26px; //fix this in the future
  color: $black;
  margin-top: 120px;
  margin-bottom: 45px;
  text-align: center;
}
