@import '../../../../styles/index.scss';

.container {
  @include flex(column, center, flex-end);
  height: 1.625rem;
  width: 1.625rem;
  position: relative;
  cursor: pointer;
  .lock {
    width: 1.625rem;
    fill: rgb(0, 0, 0);
  }
  &:hover::after {
    content: 'Розблокувати';
    position: absolute;
    top: 1.813rem;
    left: -1.7rem;
    font-family: $fontNunito;
    font-size: 0.7rem;
    font-weight: bold;
    color: #000;
  }
  :hover {
    fill: rgb(0, 0, 0);
  }
}
