@import '../../../../styles/index.scss';

.container {
  position: relative;
  cursor: pointer;
  @include flex(column, center, flex-end);
  height: 1.625rem;
  width: 1.625rem;
  .lock {
    width: 26px;
    fill: rgba(0, 0, 0, 0.8);
  }
  &:hover::after {
    content: 'Розблокувати';
    position: absolute;
    top: 29px;
    left: -18px;
    font-family: $fontNunito;
    font-size: 0.6rem;
  }
  :hover {
    fill: rgb(0, 0, 0);
  }
}
