@import '../../../styles.scss';

.universityListSection {
  width: inherit;
  height: auto;
  background-color: $white;
  padding-left: 4.5rem;
}

.container {
  width: 100%;
  height: auto;
  @include flex(column, center, flex-start);
  padding-bottom: 30px;
  padding-right: 9.03vw;
}
