@import '../../../styles/index.scss';

.specialityAdminPage {
  margin: 0 auto;
  width: calc((1180 / 1440) * 100%);
  max-width: 1440px;
  min-height: 1100px;
  padding: 0 3.125rem 3.75rem;
  box-sizing: content-box;
  &__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $fontNunito;
    font-size: 2.5rem;
    font-weight: 800;
  }
  &__top {
    @include flex(row, center, space-between);
    margin-top: 3.125rem;
  }
  .animatedButton {
    max-width: 15.625rem;
    display: block;
    text-align: center;
    padding: 0.625rem 1.25rem;
    margin-right: 2rem;
    font-family: $fontNunito;
    font-weight: 300;
    font-size: 1.125rem;
    border-radius: 10px;
    // margin-top: 2.25rem;
  }
}

.tabs {
  display: flex;
  &_inner {
    @include flex(row, center, flex-end);
    margin-top: -($tabHeight);
  }
  &__container {
    position: relative;
  }
  &__tab {
    width: 7.1875rem;
    height: $tabHeight;
    border-radius: 0.625rem 0.625rem 0px 0rem;
    color: inherit;
    background-color: $lightBlue_2;
    font-family: $fontNunito;
    font-weight: $regular;
    font-size: $font_18px;
    &_active {
      background-color: $white;
    }
  }
}

.card {
  &__content {
    display: block;
    &__line {
      @include flex(row, center, space-between);
      padding: 1.5rem 1.5rem 1.5rem 1.25rem;
      z-index: 2;
      position: relative;
      background-color: #f2f9ff;
      border-radius: 5px;
      margin: 0.1294rem 0;
      &_title {
        height: 68.93px;
      }
      h3 {
        font-family: $fontNunito;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.0625rem;
        color: $black;
      }
      & > div {
        width: calc(100% / 3);
        font-family: $fontNunito;
        font-style: normal;
        font-weight: $regular;
        font-size: $font_18px;
        &:nth-child(2) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: center;
          max-width: 10.938rem;
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
  }
}

.card__more {
  .card__details {
    height: 0;
    opacity: 0;
    transition: all 0.1s;
  }
  .card__details__edit {
    display: none;
  }
  .card__more__btn {
    display: none;
    svg {
      transform: rotate(0deg);
      transition: all 0.3s;
    }
  }

  &__opened {
    display: block;
    .card__details {
      margin-top: 2rem;
      display: block;
      transition: all 0.3s;
      height: auto;
      opacity: 1;
    }
    .animatedButton {
      display: none;
    }
    .card__details__edit {
      display: block;
      margin-right: 1rem;
    }
    .card__more__btn {
      display: block;
      cursor: pointer;
      text-align: center;
      svg {
        transform: rotate(180deg);
        transition: all 0.3s;
      }
    }
  }
}

.acc_item {
  &__header {
    margin-top: 1.25rem;
    background: #bad0e5;
    font-weight: $extraBold;
  }
  &__inner {
    margin-top: 1.25rem;
  }
  &__body {
    margin-top: 0.938px;
  }
  &__subtitle {
    font-weight: $bold;
    font-size: 20px;
    color: #000000;
    &_text {
      font-size: 1.25rem;
    }
  }
  &__underline {
    text-decoration: underline;
  }
  &__block {
    margin-top: 1.625rem;
    font-size: $font_18px;
  }
  &__disabled {
    display: none;
  }
  &__id {
    width: 4.063rem;
  }

  &__name {
    font-weight: $extraBold;
    font-size: 1.875rem;
    color: #000000;
  }

  &__subitem {
    position: relative;
    padding: 1.5625rem;
    margin-top: 1.25rem;
    background: #d6e5f2;
    border-radius: 5px;
    &_container {
      @include flex(row, center, space-between);
    }
    // a {
    //   font-size: $font_18px;
    //   color: $white;
    //   // padding: 0.938rem 1.25rem;
    //   // border-radius: 5px;
    //   transition: 0.3s;
    // }

    &_info {
      display: flex;
    }
  }

  &__actionItems {
    @include flex(row, center, space-between);
    height: 3rem;
  }

  &__underline {
    cursor: pointer;
  }
}

.read__more {
  &__btn {
    display: block;
    font-family: $fontNunito;
    font-style: normal;
    font-weight: bold;
    font-size: 1.875rem;
    color: $black;
    cursor: pointer;
  }
  svg {
    margin-top: 0.313rem;
    transform: rotate(0deg);
    transition: all 0.3s;
  }
  &__details {
    display: none;
    transition: all 0.1s;
    p {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
    }
  }
  &__show {
    display: inline;
  }
  &__hide {
    display: none;
  }
  &__opened {
    .read__more__details {
      display: block;
      transition: all 0.1s;
      max-height: 100%;
    }
    .read__more__show {
      display: none;
    }
    .read__more__hide {
      display: inline;
    }
  }
  .delete__icon {
    position: absolute;
    right: 25px;
    bottom: 26px;
    text-align: center;
    font-size: 0.625rem;
    font-weight: $bold;
    color: #ec615b;
  }
  .animatedButton {
    margin: 20px 0 0 0;
    border-radius: 10px;
  }
}
