@import '../../../styles/index.scss';

.editInfoSection {
  display: flex;
  width: 100%;
}

.heading {
  font-family: $fontNunito;
  font-weight: $semiBold;
  text-align: center;
}

.title {
  @extend .heading;
  font-size: $font_30px;
  margin-top: 3.125rem;
}

.infoTitle {
  @extend .heading, .title;
  border-bottom: 0.125rem solid #000;
  margin-bottom: 1.875rem;
}

.subtitle {
  @extend .heading;
  font-size: $font_18px;
}

.mainContent {
  margin: 0 auto;
  @include flex(column, center, flex-start);
  button {
    margin-bottom: 15rem;
    width: 12.5rem;
  }
}

.infoBox {
  @include flex(column, flex-end, space-between);
  width: 100%;
  background-color: #bad0e5;
  border-radius: 0.5rem;
  padding: 1.25rem;
}

.selector {
  font-family: $fontOpenSans;
  background-color: #fff;
  border: 1px solid $gray;
  min-height: 2.5rem;
  font-size: $font_18px;
  text-align: center;
  margin-right: 1rem;
  padding: 0 1rem;
}

.selectField {
  margin-bottom: 1rem;
  span {
    margin-right: 1rem;
    font-family: $fontOpenSans;
    font-size: $font_18px;
  }
}

.uploader {
  img {
    border-radius: 10px;
    opacity: 0.8;
  }
  width: 75rem;
  padding: 50px 70px 0 70px;
}
