@import '../../styles/index.scss';

.changePasswordWrapper {
  width: 100%;
  padding: 50px;
  min-height: 60vh;
  @include flex(row, flex-start, center);
}

.changePassword {
  h2 {
    font-family: $fontOpenSans;
    font-weight: $regular;
    font-size: $font_30px;
    color: $black;
    margin-bottom: 50px;
    text-align: center;
  }
}
