@import '../../styles/index.scss';

.superAdmin {
  display: flex;

  .navbar {
    @include flex(column, flex-start, center);
    .optionalItem {
      margin-top: 10px;
    }

    .adminLinkOptions {
      @include flex(column, flex-start, center);
      margin-bottom: 1rem;
      cursor: pointer;

      .admins {
        display: flex;
      }

      a {
        font-family: $fontNunito;
        font-size: 16px;
        margin-left: 10px;
      }

      .optional {
        display: none;
      }
    }

    a {
      margin: 0 0 1rem 0;
    }

    .adminLinkOptions {
      @include flex(column, flex-start, center);
      div {
        color: #fff;
        font-family: $fontNunito;
        font-size: 18px;
        margin-right: 0.5rem;
      }
    }
  }
}
