@import '../../../styles/index.scss';

.superAdminAccountPage {
  min-height: 90vh;
  @include flex(column, center, space-between);
  width: 100%;
  padding-bottom: 12rem;
  font-family: $fontOpenSans;
  font-size: $font_18px;
  font-weight: $regular;
  background: url('/assets/images/superAdminAccount.svg') bottom 0 right 100px
    no-repeat;

  // .spinnerContainer {
  //   @include flex(row, center, center);
  //   width: 100%;
  // }
}
