@import '../../styles/index.scss';

.universitiesPage {
  margin: 0 auto;
  width: calc((1180 / 1440) * 100%);
  max-width: 1440px;
  height: auto;
  min-height: 1100px;
  padding-bottom: 60px;
  @include flex(column, center, flex-start);

  @include tablet {
    width: 90%;
    min-height: 500px;
  }

  @include mobile-w {
    width: 100%;
    min-height: 500px;
  }

  @include mobile {
    width: 100%;
    min-height: 500px;
  }
}

.title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: $fontNunito;
  font-size: $font_80px;
  font-weight: $regular;
  text-align: center;

  @include laptop {
    font-size: calc((70 / 16) * 1rem);
  }

  @include tablet {
    font-size: calc((60 / 16) * 1rem);
  }

  @include mobile-w {
    font-size: calc((50 / 16) * 1rem);
  }

  @include mobile {
    font-size: calc((40 / 16) * 1rem);
    padding: 0 20px;
  }
}
.pages {
  @include flex(row, center, center);

  .page {
    @include flex(row, center, center);
    margin: 5px;
    width: 40px;
    height: 40px;
    font-family: $fontNunito;
    font-size: 20px;
    border: 1px solid $lightBlue_2;
    border-radius: 5px;
    background-color: $lightBlue_3;
    cursor: pointer;

    &__current {
      background-color: $darkBlue;
      border: 1px solid $darkBlue;
      color: $white;
    }
  }
}

.arrow {
  margin: 0 30px;
  @include flex(row, center, center);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: $lightBlue_3;
  border: 1px solid $lightBlue_2;
  cursor: pointer;

  &__prev {
    transform: scale(-1, 1);
  }
}

.arrowUnable {
  svg path {
    fill: $lightBlue_2;
  }
}

.spinnerContainer {
  margin-top: 100px;
  @include flex(row, center, center);
}
