@import '../../styles/index.scss';
.specialityCard {
  width: 100%;
  &:nth-child(n + 2) {
    margin-top: 2.5rem;
  }
}
.card {
  position: relative;
  padding: 2.4rem 5.75rem;
  border-radius: 15px;
  background-color: $lightBlue_2;
  width: 100%;
  &:nth-child(n + 2) {
    margin-top: 2.5rem;
  }
  &__top {
    display: flex;
    align-items: center;
  }
  &__content__link {
    display: block;
    padding: 0.313rem 3.625rem;
    margin-left: 5rem;
    font-family: $fontNunito;
    font-weight: $light;
    font-size: 1.875rem;
    border-radius: 10px;
  }
  &__content {
    display: block;
    margin-top: 2.5rem;
    &__line {
      @include flex(row, center, space-between);
      padding: 1.563rem 3.125rem 1.563rem 1.563rem;
      z-index: 2;
      position: relative;
      background-color: #f2f9ff;
      border-radius: 5px;
      margin: 0.313rem 0;
      h3 {
        font-family: $fontNunito;
        font-style: normal;
        font-weight: bold;
        font-size: 1.875rem;
        line-height: 2.563rem;
        color: $black;
      }
      & > div {
        width: calc(100% / 3);
        font-family: $fontNunito;
        font-style: normal;
        font-weight: $light;
        &:nth-child(2) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: center;
          max-width: 10.938rem;
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
    &_subject {
      font-size: 1.125rem;
      line-height: 1.563rem;
      color: $black;
    }
    &_mark {
      font-size: 1.25rem;
      line-height: 1.688rem;
      color: $darkBlue;
      text-align: center;
    }
    &_coefficient {
      font-size: 1.25rem;
      line-height: 1.688rem;
      color: $darkBlue;
    }
    &__star {
      position: absolute;
      right: 1.563rem;
      top: 1.563rem;
    }
  }
  &__more {
    text-align: center;
    margin-top: 1.875rem;
    &__btn {
      display: block;
      font-family: $fontNunito;
      font-style: normal;
      font-weight: bold;
      font-size: 1.875rem;
      color: $black;
      cursor: pointer;
    }
    svg {
      margin-top: 0.313rem;
      transform: rotate(0deg);
      transition: all 0.3s;
    }
    .card__details {
      // display: none;
      height: 0;
      opacity: 0;
      text-align: left;
      font-size: 1.125rem;
      line-height: 1.563rem;
      color: $black;
      p {
        margin: 0.75rem 0;
      }
    }
    &__opened {
      display: block;

      .card__details__btn {
        display: none;
      }
      .card__details {
        display: block;
        transition: all 0.3s;
        height: auto;
        opacity: 1;
      }
      svg {
        transform: rotate(180deg);
        transition: all 0.3s;
      }
    }
  }
}

.title {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  font-family: $fontNunito;
  font-size: 3rem;
  font-weight: $regular;
  text-align: center;
  span {
    position: relative;
    right: auto;
    top: 0.438rem;
    line-height: 0;
    left: 1.25rem;
  }
}

.spinnerContainer {
  margin-top: 6.25rem;
  @include flex(row, center, center);
}
