@import '../../../../styles/index.scss';

.container {
  cursor: pointer;
  position: relative;
  height: 1.625rem;
  width: 1.625rem;
  @include flex(column, center, flex-end);
  .unlock {
    width: 26px;
    fill: rgba(0, 0, 0, 0.6);
    :hover {
      fill: rgb(0, 0, 0);
    }
  }
  &:hover:after {
    content: 'Заблокувати';
    position: absolute;
    top: 29px;
    left: -18px;
    font-family: $fontNunito;
    font-size: 0.6rem;
  }
}
