@import '../../styles/index';
@import '../../styles/mixins';

.wrapper {
  width: 100%;
  height: calc(100vh - 6.25rem);
  max-height: 62.5rem;
  min-height: 56.25rem;
  background-color: $lightBlue_2;
  @include flex(row, center, center);

   .form {
     margin: 0 auto;
     width: 450px;
     height: auto;
     background-color: $white;
     @include flex(column, center, flex-start);
     position: relative;
   }
  .wrapperImg {
    position: absolute;
    top: 6%;
    right: 0;
  }

}

