@import '../../../../styles/index.scss';

.success {
  width: 350px;
  padding-top: 13px;
  padding-bottom: 7px;
  padding-left: 20px;
  background-color: rgba(green, 0.3);
  color: green;
  font-size: 11px;
  font-weight: $regular;
  font-family: $fontOpenSans;
  @include flex(row, center, flex-start);
}

.formSuccess {
  svg path {
    fill: $white;
  }

  background-color: green;
  color: $white;
  padding-top: 22px;
  padding-bottom: 16px;
  margin-bottom: 40px;
}

.iconWrap {
  @include flex(row, flex-end, flex-start);
  padding-right: 15px;
  align-self: center;
}
