@import '../../../styles';

.tabs {
  display: flex;
  &__block {
    padding: 0.875rem 1.438rem;
    text-align: center;
    background: #27446a;
    color: #ffff;
    border-radius: 0.5rem;
    margin: 1.563rem auto 2.5rem;
    cursor: pointer;
    &__active {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + 2px);
        height: 5px;
        background: rgb(88, 147, 241);
      }
    }
  }
  &__email__btn {
    padding: 0.875rem 1.438rem;
    max-width: 190px;
    text-align: center;
    background: #27446a;
    color: #ffff;
    border-radius: 0.5rem;
    margin: 1.563rem auto 2.5rem;
    display: inline-block;
    cursor: pointer;
  }
  &__moderators__btn {
    padding: 0.875rem 0.938rem;
    max-width: 290px;
    text-align: center;
    background: #27446a;
    color: #ffff;
    border-radius: 0.5rem;
    margin: 1.563rem auto 2.5rem;
    display: inline-block;
    cursor: pointer;
  }
}

button {
  border: none;
}

.content {
  width: 100%;
  height: auto;
  margin-top: 2.5rem;
  &__tabs {
    display: none;
    flex-grow: 1;
    &__active {
      display: block;
    }
  }
  h2 {
    padding: 0px 0 0.313rem 0px;
  }
  hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 0.313rem;
  }
  p {
    width: 100%;
  }
  .topWrapper__title {
    @include flex(row, center, space-between);
    margin-bottom: 0.625rem;
    width: 100%;
    max-width: 70rem;
    background-color: #5a758c;
    color: #fff;
    height: 3.125rem;
    border-radius: 0.3rem;
    padding: 0 2rem 0 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
    margin-bottom: .7rem;
  }
  .mainContent {
    display: flex;
    width: 100%;
    max-width: 70rem;
    flex-wrap: wrap;
    position: relative;
    background-color: #d6e5f2;
    justify-content: space-between;
    border-radius: 0.3rem;
    .input_block{
      display: block;
      width: 81%;
      padding: 1.5rem;
    }
    button {
      display: block;
      position: absolute;
      width: 185px;
      right: 1.5rem;
      top: 1.18rem;
    }
    button:hover {
      background-color: #fff;
    }
    .topWrapper__label {
      display: block;
      font-family: 'Nunito', sans-serif;
      font-size: 1.125rem;
      margin-bottom: .3rem;
    }
    input {
      margin-left: 0;
      padding: 0.625rem;
      width: 100%;
      min-height: 2.70rem;
      border: 1px solid #afbecf;
      border-radius: 0.3rem;
    }
    .resultMessageContainer {
      margin: 2rem 0rem 0rem 0rem;
      @include flex(column, center, center);
      justify-self: center;
      padding-top: 13px;
      padding-bottom: 10px;
      padding-left: 20px; 
    }
  }
  .moderators {
    &__top {
      @include flex(row, center, flex-start);
      background-color: #5a758c;
      color: #fff;
      height: 3.125rem;
      width: 100%;
      max-width: 70rem;
      border-radius: 0.3rem;
      padding-left: 1rem;
      &__address {
        color: #ffffff;
      }
    }
    &__item {
      @include flex(row, center, space-between);
      width: 100%;
      max-width: 70rem;
      height: 4.5rem;
      background-color: #d6e5f2;
      border-radius: 0.3rem;
      padding: 0 2rem 0 1rem;
      font-family: 'Nunito', sans-serif;
      font-size: 1.125rem;
      margin-top: 0.625rem;
      &__mail {
        font-size: 1.125rem;
        color: #000000;
      }
      &__link {
        font-size: 1rem;
        color: #27446a;
        cursor: pointer;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}
