@import '../../styles/index.scss';

.btn {
  margin: 0 0.875rem;
  padding: 0.85rem 1.25rem;
  border-radius: 0.625rem;
  font-size: $font_16px;
  font-family: $fontNunito;
  font-weight: $regular;
}
.btn.disabled {
  opacity: 0.6;
  animation: none;
  color: $white;
  cursor: default;
}
