@import '../../styles/index.scss';

.imagePrevieContainer {
  overflow: hidden;
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    max-width: 55%;
    height: 80%;
    object-fit: contain;
  }
}
