.filter {
  height: 300px;
  font-size: 34px;
  text-align: center;
  background: #777;
}

.about {
  height: 300px;
  font-size: 34px;
  text-align: center;
  background: #777;
}

.cta {
  height: 300px;
  font-size: 34px;
  text-align: center;
  background: #fff;
}

.partners {
  height: 300px;
  font-size: 34px;
  text-align: center;
  background: #777;
}

.footer {
  height: 300px;
  font-size: 34px;
  text-align: center;
  background: #fff;
}
