@import '../../../styles/index.scss';

.wrapper {
  background: $lightBlue_3 url(/assets/images/univer30.svg) bottom -2rem right 8.125vw
    no-repeat;
  font-family: $fontOpenSans;
  font-size: $font_18px;
  max-width: 100rem;
  min-height: 110vh;
  margin: 0 auto;
  .buttonLink {
    width: 15rem;
    text-align: center;
    padding: 0.938rem 1.25rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 1.25rem;
  }
}
