@import '../../../styles/index.scss';

.common {
  font-family: $fontOpenSans;
  font-size: $font_18px;
  width: 100%;
}

.wrapper {
  @extend .common;
  background: $lightBlue_3 url(/assets/images/univer30.svg) bottom -2rem right 8.125vw
    no-repeat;
  max-width: 90rem;
  margin: 0 auto;
  padding: 3.125rem 8.125vw 25rem 6.25vh;

  .buttonLink {
    width: 15rem;
    text-align: center;
    padding: 0.938rem 1.25rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 1.25rem;
  }
}

.noContentContainer {
  @extend .common;
  @include flex(row, center, center);
  height: 80vh;
}
