@import '../../../../styles/index.scss';

.card {
  &__icon {
    position: absolute;
    top: 2.4rem;
    right: 30px;
    cursor: pointer;

    &__liked {
      svg path {
        fill: #f8b50b;
      }
    }

    & :hover {
      fill: #f8b50b;
    }
  }
}
