@import '../../../styles/index.scss';

.mainContainer {
  padding-top: 1.5625rem;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 57rem;
  height: 12rem;
  background-color: $lightBlue_2;
  border: 15px solid $gray;
  border-radius: 25px;
  font-family: $fontNunito;
  font-size: $font_18px;
  @include flex(column, center, space-around);

  .highlighted {
    background-color: $lightBlue_1;
    border-radius: 5px;
  }

  .buttons {
    @include flex(row, center, space-around);
    width: 100%;
    padding-left: 8.125rem;
    padding-right: 8.125rem;

    button {
      font-size: medium;
      width: 7.8rem;
      height: 2.8rem;
      border-radius: 5px;
    }
  }
}
