@import '../styles.scss';

header {
  box-sizing: border-box;
  height: 6.25rem; //100px
  font-size: $font_18px;
  text-align: center;
  background: $lightBlue_1;
  @include flex(row, center, space-between);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;

  .logo {
    text-decoration: none;
    font-family: $fontNunito;
    color: #000;
    font-size: $font_40px;
    font-weight: 800;
    margin: 0 3vw 0 9.03vw;
  }

  nav {
    display: flex;
    align-items: center;
    font-family: $fontOpenSans;
    margin-right: 9.03vw;

    a {
      text-decoration: none;
      color: #000;
      font-size: $font_18px;
      font-weight: 400;
      position: relative;
    }
    .pages {
      margin-right: 5.56vw;

      & > * {
        &:last-child {
          margin-right: 0;
        }
      }

      a {
        margin-right: 2.78vw; //40px
        padding-bottom: 0.375rem; //6px
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0.125rem;
          background: currentColor;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 250ms ease-in;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
    .entry {
      display: flex;
      align-items: center;

      .animatedButton {
        padding: 0.875rem 1.5rem; //14px 24px
        border-radius: 0.625rem; //10px
        font-size: $font_18px;
      }

      .animatedButtonTransparent {
        padding: 0.875rem 1.5rem; //14px 24px
        border-radius: 0.625rem; //10px
        font-size: $font_18px;
      }

      & > * {
        margin-right: 1.81vw;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
