@import '../../../../styles/index.scss';

.formButton {
  width: 350px;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  background-color: $darkBlue;
  font-family: $fontOpenSans;
  font-weight: $regular;
  font-size: $font_18px;
  color: $white;
}
