@import '../../styles/index.scss';

.container {
  width: 100%;
  background-color: #bad0e5;
}
.banner {
  position: relative;
  overflow: hidden;
  background-color: #bad0e5;
  max-height: 530px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5.75rem 0 8.75rem 0;

  background-image: url(/assets/images/baner2.svg);
  background-repeat: no-repeat;
  background-size: auto 69%;
  background-position: 100% 100%;

  h1 {
    font-family: $fontNunito;
    font-weight: 400;
    font-size: 5rem;
    line-height: 1.36;
  }
  p {
    width: 55vw;
    max-width: 795px;
    margin: 2.5rem 0 1.875rem 0;
    font-family: $fontOpenSans;
    font-size: 1rem;
    line-height: 1.36;
  }
  button {
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 3.125rem;
    border-radius: 15px;
    border: 1px solid #12335e;
    background-color: #12335e;
    color: #ffffff;
    font-family: $fontNunito;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 1.13;
    transition: color 0.25s ease, background-color 0.25s ease, border 0.25s ease;
  }
  button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    border: 1px solid black;
  }
}
.animationBg {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  animation-name: animationBg;
}
@keyframes animationBg {
  from {
    background-size: auto 0%;
    background-position: 100% 0%;
  }
  to {
    background-size: auto 69%;
    background-position: 100% 100%;
  }
}
@include desktop {
  /*  >= 1366px   */
}

@include laptop {
  /*   1024px - 1365px   */
}

@include tablet {
  /*   768px - 1023px   */
  @keyframes animationBg {
    from {
      background-size: auto 0%;
      background-position: 100% 0%;
    }
    to {
      background-size: auto 39%;
      background-position: 100% 70%;
    }
  }
}
@include mobile-w {
  /*   421px - 767px   */
  .banner {
    background-image: none;
  }
  .animationBg {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}

@include mobile {
  /*   <= 420px   */
  .banner {
    background-image: none;
  }
  .animationBg {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}
