@import '../../../styles/index.scss';

.addInstitutionOfEducationPage {
  width: 100%;
  font-family: $fontOpenSans;
  font-size: $font_18px;
  font-weight: $regular;
  background-color: $lightBlue_3;
}
