.dropbox{
  height: 550px;
  background: #BAD0E5;

  .title_{
    width:600px;
    //border:solid 1px black;
    margin:0px;
    //margin-top:90px;
    margin-left:auto;
    margin-right:auto;
    //margin-top:90px;
    //padding-left: 90px;
    margin-bottom:80px;
    h3{
      //line-height: 90px;
      font-size: 90px;
    }
  }

.filter-form{
  //height: 50px;
  width: 1200px;
  //border:solid 1px black;
  margin-left:auto;
  margin-right:auto;
}

  .selectors{
    float:left;
    margin-right: 40px;
     
    .box:nth-of-type(2){
      margin-left: 25px;
    }
    .box:nth-of-type(3){
      margin-left: 25px;
    }  
  }
}

button{
    float:none; 
    background-color:  #12335E;
    color:white;
    display:inline-block;
    font-size: 35px;
    width: 232px;
    height: 75px;
    border-radius: 15px;
    border:none;
    //background-color: #AFDEF8;
    cursor: pointer;
    position: absolute;
    .searchIcon{
      margin-left:30px;
      margin-top:10px;
      color:white;
    }
    .searchText{
      margin-left:20px;
    }
  
}


 

   

  