//@import '../common/dropbox/dropbox.module.scss';

.dropbox{
  //height: 550px;
  height: 34.38rem;
  background: #BAD0E5;
  position:relative;

  .filter1{
    position: absolute;
    right: 3.13rem;
    top: 2.19rem;
  }
  .filter2{
    position: absolute;
    right: 1.88rem;
    bottom: 1.25rem;
  }
  .filter3{
    position: absolute;
    left: 1.88rem;
    bottom: 0;
    z-index: 0;

  }

  .title_{
    width:37.5rem;
    //border:solid 1px black;
    margin:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3.75rem;
    h3{
      padding-top: 5.63rem;
      font-size: 90px;
    }
  }
/*
.filter_form{
  width: 75rem;
  //border:solid 1px black;
  margin-left:auto;
  margin-right:auto;
  }
*/
  .selectors{
    //margin-right: 2.5rem;
    display:flex;
    justify-content:center;

    .box:nth-of-type(1){
      position: relative;
      z-index: 1;
    }
     
    .box:nth-of-type(2){
      margin-left: 1.5625rem;

    }
    .box:nth-of-type(3){
      margin-left: 1.5625rem;
    }
    
    button{
    float:none; 
    background-color:  #12335E;
    color:white;
    display:inline-block;
    font-size: 35px;
    width: 232px;
    height: 65px;
    border-radius: 15px;
    border:none;
    //background-color: #AFDEF8;
    cursor: pointer;
    margin-top: -6px;
    margin-left:40px;
    position: relative;
    .searchIcon{
      position: absolute;
      top:25%;
      right: 22px;
    }
    .searchText{
      position: absolute;
      top:18%;
      left:50px;
  
    }
  
}
  }
}




 

   

  