.dropbox{
  height: 550px;
  background: #BAD0E5;
  position:relative;

  .filter1{
    position: absolute;
    //border:solid 1px black;
    right: 50px;
    top:35px;
  }
  .filter2{
    position: absolute;
    //border:solid 1px black;
    right: 30px;
    bottom: 20px;
  }
  .filter3{
    position: absolute;
    //border:solid 1px black;
    //width:378px;
    //padding-top: 100px;
    //padding-left: 260px;
    left: 30px;
    bottom: 0px;
    z-index: 0;

  }

  .title_{
    width:600px;
    //border:solid 1px black;
    margin:0px;
    //margin-top:90px;
    margin-left:auto;
    margin-right:auto;
    //margin-top:90px;
    //padding-left: 90px;
    margin-bottom:80px;
    h3{
      //line-height: 90px;
      //margin-top:90px;
      padding-top: 90px;
      font-size: 90px;
    }
  }

.filter-form{
  //height: 50px;
  width: 1200px;
  //border:solid 1px black;
  margin-left:auto;
  margin-right:auto;
  
  }



  .selectors{
    float:left;
    margin-right: 40px;
    //z-index: 1;

    .box:nth-of-type(1){
      //margin-left: 25px;
      position: relative;
      z-index: 1;
    }
     
    .box:nth-of-type(2){
      margin-left: 25px;

    }
    .box:nth-of-type(3){
      margin-left: 25px;
    }  
  }
}

button{
    float:none; 
    background-color:  #12335E;
    color:white;
    display:inline-block;
    font-size: 35px;
    width: 232px;
    height: 75px;
    border-radius: 15px;
    border:none;
    //background-color: #AFDEF8;
    cursor: pointer;
    position: absolute;
    .searchIcon{
      margin-left:30px;
      margin-top:15px;
      color:white;
    }
    .searchText{
      margin-left:20px;
    }
  
}


 

   

  