@import '../../../styles/index';

.moderators {
  padding: 3rem 3.125rem 10rem 3.125rem;
  margin: 0 auto;
  min-width: calc(100vw - 340px);
  min-height: calc(100vh - 30vh - 6.25rem);

  .container {
    @include flex(column, center, flex-start);
  }

  .title {
    font-family: $fontNunito;
    font-size: $font_80px;
    width: 100%;
    max-width: 90rem;
  }

  .subtitle {
    width: 100%;
    font-family: $fontNunito;
    font-size: $font_18px;
    margin-top: 2.5rem;
    text-align: center;
  }

  .addModeratorForm {
    @include flex(row, center, center);
    width: 100%;
    position: relative;

    .success {
      position: absolute;
      top: 2.8rem;

      & > div {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
    }
  }

  .emailInput {
    @include flex(row, center, center);
    width: 100%;
    margin: 1rem 0 3.125rem 0;
  }

  .moderatorList {
    @include flex(column, center, center);
    width: 100%;
    padding-top: 0.6rem;

    .emptyListMessage {
      font-family: $fontOpenSans;
      font-size: $font_18px;
      margin-top: 20px;
    }
  }
}

.loadingScreen {
  @include flex(column, center, center);
  width: 100%;
  min-height: calc(100vh - 30vh - 6.25rem);
}

.errorScreen {
  @extend .loadingScreen;
  font-size: $font_18px;
  font-family: $fontOpenSans;
}
