@import '../../styles/index.scss';

.universitiesPage {
  margin: 0 auto;
  width: calc((1180 / 1440) * 100%);
  max-width: 1440px;
  height: auto;
  padding-bottom: 30px;
  @include flex(column, center, flex-start);

  @include tablet {
    width: 90%;
  }

  @include mobile-w {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}

.title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: $fontNunito;
  font-size: $font_80px;
  font-weight: $regular;
  text-align: center;

  @include laptop {
    font-size: calc((70 / 16) * 1rem);
  }

  @include tablet {
    font-size: calc((60 / 16) * 1rem);
  }

  @include mobile-w {
    font-size: calc((50 / 16) * 1rem);
  }

  @include mobile {
    font-size: calc((40 / 16) * 1rem);
    padding: 0 20px;
  }
}
