@import '../../styles/index.scss';

.newPasswordContainer {
  background-color: $lightBlue_2;
  background-image: url(/assets/images/newpass.svg);
  background-size: auto;
  background-position: calc(50% + 500px) 130px;
  background-repeat: no-repeat;
  height: 90vh;
  padding-top: 100px;
  @include flex(row, flex-start, center);
}

.newPasswordFormWrapper {
  background-color: #fff;
  width: 31.25rem;
  height: 25rem;
  background-image: url(/assets/images/thinkhard.svg);
  background-position: 5px 10px;
  background-repeat: no-repeat;
  position: relative;
  @include flex(column, center, center);

  h3 {
    text-align: center;
    margin-top: 10px;
    font-size: $font_18px;
  }
  button {
    margin-top: 0;
  }
}
