@import '../../../styles/index';

.tooltipWrapper {
  .tooltipMessage {
    visibility: hidden;
    width: 120px;
    background-color: $darkBlue;
    color:$white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition:  opacity 0.3s;
  }

  .tooltipMessage::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $darkBlue transparent transparent transparent;
  }
  .tooltipWrapper:hover .tooltipMessage {
    visibility: visible;
    opacity: 1;
  }
}