@import '../../styles/index.scss';

.card {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: $lightBlue_2;
  border-radius: 15px;
  padding: 50px 30px 50px 60px;
  @include flex(column, stretch, space-between);
  position: relative;

  @include mobile-w {
    padding: 40px 30px 50px 30px;
  }

  @include mobile {
    padding: 40px 20px 35px 20px;
  }

  &__icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    &__liked {
      svg path {
        fill: #f8b50b;
      }
    }

    @include mobile {
      top: 15px;
      right: 15px;
      svg {
        width: 35px;
      }
    }
  }

  &__img {
    height: calc((210 / 520) * 100%);
    position: absolute;
    bottom: 0;
    right: 0;

    @include laptop {
      height: 25%;
    }

    @include tablet {
      display: none;
    }

    @include mobile-w {
      display: none;
    }

    @include mobile {
      display: none;
    }

    img {
      height: 100%;
    }
  }
  &__title {
    font-family: $fontNunito;
    font-weight: $semiBold;
    font-size: $font_40px;

    @include mobile-w {
      align-self: center;
    }

    @include mobile {
      align-self: center;
      font-size: calc((35 / 16) * 1rem);
    }
  }

  &__contentContainer {
    @include flex(row, flex-start, space-between);
    position: relative;

    @include laptop {
      @include flex(column-reverse, flex-start, space-between);
    }

    @include tablet {
      @include flex(column-reverse, flex-start, space-between);
    }

    @include mobile-w {
      @include flex(column-reverse, flex-start, space-between);
    }

    @include mobile {
      @include flex(column-reverse, flex-start, space-between);
    }
  }

  &__content {
    width: calc((540 / 1180) * 100%);
    @include flex(column, flex-start, flex-start);

    @include laptop {
      width: 90%;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile-w {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }

    &__wrapper {
      margin-top: 30px;
    }

    &__desc {
      font-family: $fontOpenSans;
      font-weight: $regular;
      font-size: $font_16px;
      color: $black;
      display: block;

      @include mobile {
        font-size: calc((13 / 16) * 1rem);
      }
    }

    &__subtitle {
      font-weight: $bold;
      padding-right: 10px;
    }

    &__link {
      margin-top: 40px;
      padding: 12px 50px;
      font-family: $fontNunito;
      font-weight: $light;
      font-size: $font_30px;
      border-radius: 10px;

      @include mobile-w {
        width: 100%;
        padding: 12px 0;
        @include flex(row, center, center);
      }

      @include mobile {
        width: 100%;
        padding: 12px 0;
        @include flex(row, center, center);
        font-size: calc((25 / 16) * 1rem);
      }
    }
  }

  &__intro {
    height: 155px;
    padding: 15px 45px 25px 45px;
    background-color: $darkBlue;
    border-radius: 15px;
    @include flex(column, center, flex-start);

    @include laptop {
      margin-top: 20px;
      padding: 15px 35px 15px 35px;
    }

    @include tablet {
      margin-top: 20px;
      padding: 15px 35px 15px 35px;
    }

    @include mobile-w {
      margin-top: 20px;
      width: 100%;
      padding: 15px 0 25px 0;
    }

    @include mobile {
      margin-top: 20px;
      width: 100%;
      height: 175px;
      padding: 15px 0 25px 0;
    }

    &__title {
      font-family: $fontNunito;
      font-weight: 100;
      font-size: calc((35 / 16) * 1rem);
      color: $white;

      @include mobile-w {
        font-size: calc((30 / 16) * 1rem);
      }

      @include mobile {
        font-size: calc((20 / 16) * 1rem);
      }
    }

    &__data {
      margin-top: 15px;
      @include flex(row, center, center);

      @include mobile {
        @include flex(column, center, center);
      }

      &__numbers {
        font-family: $fontOpenSans;
        font-weight: $regular;
        font-size: $font_18px;
        color: $black;

        @include mobile-w {
          font-size: $font_16px;
        }

        @include mobile {
          font-size: $font_15px;
        }
      }

      &__block {
        width: 145px;
        height: 40px;
        @include flex(row, center, center);
        background-color: $lightBlue_3;
        border-radius: 5px;

        @include mobile-w {
          width: 120px;
        }

        &__red {
          margin-left: 15px;
          background-color: $red;

          @include mobile {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
