@import '../../../styles/index.scss';

.customInput {
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #bad0e5;
  width: 100%;
  @include flex(row, center, space-between);
  margin-bottom: 1.25rem;
  span {
    font-family: $fontOpenSans;
    min-width: 18rem;
  }
}

.editSpecialty {
  margin: 0 auto;
  .mainInfo {
    background-color: #bad0e5;
    border-radius: 0.5rem;
    padding: 1.25rem;
    width: 65.625rem;
  }
  display: flex;
  min-height: 100vh;
  .mainContent {
    margin: 0 auto;
    @include flex(column, center, flex-start);
  }

  .heading {
    font-family: $fontNunito;
    font-weight: $semiBold;
    text-align: center;
  }

  .title {
    @extend .heading;
    font-size: $font_30px;
    margin-top: 3.125rem;
  }

  .infoTitle {
    @extend .heading, .title;
    border-bottom: 0.125rem solid #000;
    margin-bottom: 1.875rem;
    width: max-content;
  }

  .subtitle {
    @extend .heading;
    font-size: $font_18px;
  }

  button {
    margin-bottom: 15rem;
    width: 12.5rem;
  }
}
