@import "../../styles.scss";

.mainWorkingFiled {
  height: 55rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  .mainMenuBar {
    width: 2.813rem;
    height: 55rem;
    background-color:$darkBlue;
    z-index: 0;
    position: absolute;
    .userIcon {
      margin: 0 auto;
      margin-top: 8.06rem;
      width: 2.063rem;
      height: 2.063rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .univIcon {
      margin: 0 auto;
      margin-top: 1.75rem;
      width: 2.063rem;
      height: 2.063rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .specIcon {
      margin: 0 auto;
      margin-top: 1.75rem;
      width: 2.063rem;
      height: 2.063rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .mainFiled {
    margin-left: 2.813rem;
    width: 100%;
    z-index: 0;
    overflow: auto;
    background-color: $lightBlue_3;
  }
}

.mainMenu {
  width: 0rem;
  height: 55rem;
  left: 2.813rem;
  //background-color: rgba(255, 255, 255, 0.4);
  background-color:$lightBlue_3;
  box-shadow: 0.188rem 0.188rem 0.25rem rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 1;
  transition: 0.4s;
  .optionList {
    ul {
      margin-top: 8.438rem;
      width: 100%;
      overflow-x: hidden;
      font-size:$font_16px;
      font-family:$fontOpenSans;
      font-weight: $regular;
      li {
        height: 1.875rem;
        overflow: hidden;
        font-size: $font_16px;
        cursor: pointer;
        text-align: left;
        padding-left: 1rem;
        p{
          display:inline;
        }
      }
      li:nth-of-type(2) {
        margin-top: 2rem;
      }
      li:nth-of-type(3) {
        margin-top: 2rem;
      }
    }
  }
}

// classes for manipulation with objects
.icons{
  fill: $white;
  fill-opacity: 100%;
  &:hover{
    background-color: $lightBlue_1;
    fill: $darkBlue;
    fill-opacity: 100%;
  }
}
.mainMenuWidth {
  width: 11.062rem;
  transition: 0.4s;
}
