@import "../../styles.scss";

.mainWorkingFiled {
  height: 43.75rem;
  background-color: #c4c4c4;
  position: relative;
  display: flex;
  justify-content: space-between;
  .mainMenuBar {
    width: 2.813rem;
    height: 43.75rem;
    background-color: gray;
    border: solid 1px black;
    z-index: 0;
    position: absolute;

    .userIcon {
      margin: 0 auto;
      margin-top: 0.938rem;
      text-align: center;
      padding-top: 0.375rem;
      width: 2.063rem;
      cursor: pointer;
    }
  }

  .mainFiled {
    margin-left: 2.813rem;
    width: 100%;
    z-index: 0;
    overflow: auto;
  }
}

.mainMenu {
  width: 0rem;
  height: 43.75rem;
  left: 2.813rem;
  background-color: white;
  position: absolute;
  z-index: 1;
  transition: 0.4s;
  border-radius: 0 20px 20px 0;
  .optionList {
    ul {
      width: 100%;
      overflow-x: hidden;
      li {
        height: 1.875rem;
        overflow: hidden;
        padding: 0.438rem 1.25rem;
        cursor: pointer;       
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// classes for manipulation on objects
.whiteBackground {
  background-color: white;
}
.hoverEffectIcons {
  &:hover {
    background-color: #bdbbbb;
  }
}
.mainMenuWidth {
  width: 11.062rem;
  transition: 0.4s;
}
