@import '../../styles/index.scss';

.resetFormPage {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: calc(100vh - 6.25rem);
  background-color: $lightBlue_2;
  @include flex(row, flex-start, center);

  background-image: url(/assets/icons/leftMan.svg),
    url(/assets/icons/rightMan.svg);
  background-repeat: no-repeat;
  background-size: auto 410px;
  background-position: calc(50% - 400px) 90px, calc(50% + 400px) 90px;
}
.successMessage {
  width: auto;
  height: 4.375rem;
  margin: auto auto;
}
.resetFormWrap {
  width: 450px;
  height: auto;
  background-color: $white;
  @include flex(column, center, flex-start);
  position: relative;
}
.field {
  padding-bottom: 1.875rem;
}
.elementShowHide {
  width: auto;
  height: 6.76rem;
  margin: 0 auto;
  opacity: 0;
  animation-name: element-show-hide;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes element-show-hide {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include mobile-w {
  /*   421px - 767px   */
  .resetFormPage {
    background-image: none;
  }
}

@include mobile {
  /*   <= 420px   */
  .resetFormPage {
    background-image: none;
  }
}
