@import '../../../styles.scss';

.mainStyle {
  width: inherit;
  height: 100%;
  background: $lightBlue_3;
  padding: 1.25rem 2.5rem 2.81rem 2.5rem;
  position: relative;

  .title {
    font-family: $fontNunito;
    font-weight: $regular;
    font-size: 1.625rem;
    color: $black;
    padding: 1.25rem 0 3.125rem 0;
    text-align: center;
  }

  .wrapper {
    height: 100%;
    padding: 0.625rem 0 2.81rem 12.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
  }
  .button {
    display: flex;
    justify-content: flex-end;
  }
}
