@import '../../../styles.scss';

.mainstyle {
  position: relative;
  width: inherit;
  height: 100%;
  background: #e6e6e6;
  font-size: $font_30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
