
%btn-style {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

%resize {
  padding: 0;
  margin: 0;
}

.blockPartners {
  height: 500px;
  margin-bottom: 80px;
  @extend %resize;
  position: relative;

  h1 {
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    @extend %resize;
    margin-bottom: 80px;
  }

  .wrapperSlider {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;

    .slider {
      width: 100%;
      margin: 0 auto;
      @extend %resize;
      display: flex;
      height: 300px;
      transition: 0.5s ease-in-out;

      .inner {
        width: 100%;
        display: flex;
        margin: 0 auto;

        .slide {
          margin: 0 15px;
          display: flex;
          align-items: center;
          width: 300px;
          height: 100%;
        }
      }
    }
  }
}

.left {
  left: 8%;
  transform: rotate(180deg);
  @extend %btn-style;
}

.right {
  right: 8%;
  @extend %btn-style;
}
