@import '../../styles.scss';

.wrapper {
  font-family: $fontOpenSans;
  padding: 5rem 0;
  width: 100%;
  height: 100%;
  min-height: 65.25rem;
  @include flex(column, flex-start, center);

  .form {
    width: 100%;
    font-size: $font_18px;

    .topWrapper {
      margin: 0 auto;
      height: auto;
      position: relative;
      flex-wrap: wrap;
      @include flex(row, center, center);
      max-width: 52.5rem;

      &__title {
        font-size: $font_30px;
        text-align: center;
      }
      &__label {
        display: flex;
        flex-basis: 50%;
        margin-bottom: 0.2rem;
      }

      &__input {
        width: 100%;
        height: 2.5rem;
        border-radius: 0.3rem;
        border: 1px solid #afbecf;
        padding: 0 1rem;
      }

      .fullWidth {
        padding: 0.6rem;
        flex-basis: 100%;
      }

      .halfWidth {
        padding: 0.6rem;
        flex-basis: 50%;
      }

      &__column {
        flex-basis: 50%;

        &__fullWidth {
          flex-basis: 100%;
          padding: 0.6rem;
        }
      }

      &__textarea {
        width: 100%;
        height: 9rem;
        border-radius: 0.3rem;
        border: 1px solid #afbecf;
        padding: 1rem;
      }

      .pictureWrapper {
        flex-basis: 50%;
        padding: 0.6rem;
        margin-top: 1.4rem;

        .uploadContainer {
          @include flex(column, center, center);
          background-color: white;
          height: 100%;
          border: 1px solid #afbecf;
          border-radius: 0.3rem;

          &__img {
            width: 10rem;
            @include flex(column, center, flex-end);
          }

          &__button {
            @include flex(row, center, center);
            color: white;
            width: 100%;
            height: 2.5rem;
            background-color: #12335e;
            border-radius: 0 0 0.3rem 0.3rem;

            &:hover {
              cursor: pointer;
            }

            svg {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    .bottomWrapper {
      @include flex(column, center, center);
      padding: 2rem 4rem;
      margin: 0 auto;

      &__subtitle {
        font-size: $font_30px;
        margin-bottom: 0.5rem;
      }

      &__map {
        margin-top: 1rem;
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      &__halfWidth {
        margin-top: 1rem;
        align-self: flex-end;
      }

      .mailContainer {
        margin-top: 2.5rem;
        position: relative;

        &__text {
          display: flex;
        }

        &__label {
          margin-bottom: 0.2rem;
        }

        &__questionIcon {
          position: absolute;
          right: -1.5rem;
          top: -0.5rem;
          cursor: pointer;

          &:hover ~ .mailContainer__questionIcon__tooltip {
            opacity: 1;
            visibility: visible;
          }

          &__tooltip {
            opacity: 0;
            visibility: hidden;
            transition: 0.35s;
            font-size: 0.937rem;
            border-radius: 20px;
            position: absolute;
            box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
            top: -5.2rem;
            right: -2.5rem;
            max-width: 17rem;
            z-index: 1;
            background-color: $gray;
            color: $darkBlue2;
            padding: 0.937rem;

            &::before,
            &::after {
              content: '';
              position: absolute;
              right: 1rem;
              bottom: -1.25rem;
              border: 10px solid transparent;
              border-top: 10px solid $gray;
            }

            &::after {
              border-top: 10px solid $gray;
              bottom: -1.187rem;
            }
          }
        }

        &__input {
          width: 100%;
          height: 2.5rem;
          border-radius: 0.3rem;
          border: 1px solid #afbecf;
          padding: 0 1rem;
        }
      }
    }
  }
}
