.box{
  //display:inline;
  //display:inline-block;
  text-align: center;
  
  
  .dropboxMenu{
    float:left;
    list-style-type: none;
    cursor:pointer;
    border:none;
    //width: 260px;
    width: 16.25rem;
    //height: 55px;
    height: 3.44rem;
    cursor:pointer;
    //border-radius: 5px;
    border-radius: 0.32rem;
    background: #F2F9FF;
  }
}

.list_box{
  //border:solid 1px black;
  background:#F2F9FF;
  border-radius: 0.32rem;
  //margin-top:10px;
  margin-top:0.63rem;
  //padding-top:0px;
  padding-top:0;
  height: 0;
  opacity: 1;
  transition: height 0.7s;
  padding:0;
  overflow-y: auto;
  overflow-x:hidden;  
}


.combolist_li{
    margin-top:0.32rem;
    border-radius: 0.32rem;
    display: block;
    text-align: right;
    height: 0;
    transition: height 0.5s;
    padding-bottom:0.32rem;
    padding-left: 0.32rem;
    padding-right: 0.32rem;
    //border:solid 1px black;  

    li{
      list-style-type: none;
      font-size: 14px;
      color:black;
      //border: 1px solid #F2F9FF;
      box-sizing: border-box;
      width: 98%; 
      //height: 50px;
      height: 3.13rem;
      border-radius: 0.32rem;
      text-align: left;
      background-color:#F2F9FF;
      padding-left: 1.25rem;
      padding-top:1.06rem;
      padding-bottom: 0.875rem;
      //padding-right: 132px;
  }
}

.combolist_li li:hover{
    background-color: rgba(18, 51, 94, 0.3);
}


.dropbox_title{
  width: 100%;
  height: 100%;
  margin-top:0.125rem;
  
  input{
    font-size: 18px;
    background:#F2F9FF;
    width: 70%;
    height: 3.125rem;
    margin-left:1.562rem;
    //margin-left:25px;
    float:left;
    border:none;
    cursor: pointer;
    border-radius: 0.32rem;
    //border:solid 1px black;
  }
  .arrow{

    padding-top:0.937rem;
    //padding-top:15px;
    padding-right: 0rem;
    height: 3.125rem;
    //height: 50px;
    //border:solid 1px black;
    transition: 0.5s;
  }
.arrow_up{
    transform:rotateX(180deg);
}
}

.show{
    //height: 250px;
    height: 15.625rem;
    transition: height 0.5s;
}

.show_list_box{
  //height: 210px;
  height: 13.13rem;
  transition: height 0.5s;
}
.gray_color_text{
  color:gray;
}

/* width */
::-webkit-scrollbar {
    //width: 8px;
    width:0.49rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    //background: #f1f1f1; 
    background:#F2F9FF;
    border-radius: 0.32rem;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(186, 190, 196);
    border-radius: 0.32rem;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(18, 51, 94, 0.3);
}



